.form input{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #FD0100;
    transition: 0.2s ease-in;
    font-size: 1.3rem;
    border-left: 1px solid #FD0100;
    overflow: hidden;
    margin-top: 1rem;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    /* height: 100vh; */
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.2),
                -2rem -2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2rem;
    padding: 2.5rem;
}
.user h1 {
    margin: 1.5rem;
    font-size: 3rem;
}
.user h3{
    color: #cd0303;
}
.form label{
    font-size: 1.3rem;
    color: #cd0303;
    margin-top: 0.5rem;
}
.password-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.user-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to right,#FD0100 0%,#FD0100 50%,white 50%,white 100%); ;
    /* height: 100vh; */
}
