*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y:hidden; */
}
.front{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin: 14rem;
    height: 0vh;
    
}
.front-header{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.front-btn{
    padding: 0.5rem;
    width: 50%;
    border: none;
    border-radius: 1rem;
    background-color: #FD0100;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 2rem;
    margin: 1rem 1rem;
}
 p{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    
}
.front-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to right,#FD0100 0%,#FD0100 50%,white 50%,white 100%); ;
    height: 100vh;
}
@media screen and (max-width:768px) {
    .front img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .front-header h3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .front-btn{
        width: 100%;
    }
}
@media screen and (max-width:425px) {
    .front-header h3{
        display: none;
    }
}